$hoverColor: #9e77dd;
$whiteColor: #ffffff;
$iconBGColor: #8b2960;
$darkRedColor: #a51d2d;
$lightRedColor: #ed333b;
$darkColor: #141313;

@mixin defaultBg {
  background: #ffcaf4;
  background: radial-gradient(at left top, #ffcaf4, #ccf0ff);
}

@mixin defaultHoverBg {
  background: #9e77dd;
  background: linear-gradient(315deg, #9e77dd, #8fe1ff);
}

@mixin entireWindowPosition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

@mixin defaultBtn {
  @include defaultBg;
  position: relative;
  border: solid black 0.1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 $hoverColor;
  transition: 0.2s;

  &::after {
    @include defaultHoverBg;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
  }

  &:hover {
    background: none;
    box-shadow: 0 0 0.5rem $hoverColor;

    &::after {
      opacity: 1;
    }
  }
}

@mixin secondBtn {
  background-color: $darkColor;
  color: $whiteColor;
  transition: 0.2s;

  &:hover {
    background-color: #000000;
  }
}

@mixin input {
  border: solid rgba($color: $darkColor, $alpha: 0) 0.2rem;
  transition: 0.2s;

  &:focus {
    border: solid $darkColor 0.2rem;
  }
}

//common css-mods
.none {
  display: none !important;
}

.hide {
  opacity: 0 !important;
  pointer-events: none;
}
