@import "./normalize.css";
@import "./common.scss";

//Common default styles for all elements
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

//Components styles
@import "./mainPage.scss";
@import "./userNameInputWindow.scss";
@import "./todo-list.scss";

* {
  outline: none;
  box-sizing: border-box;
}

html {
  @include defaultBg;
}
