@import "./normalize.css";
@import "./common.scss";

//Common default styles for all elements
button {
  background: none;
  border: none;
  cursor: pointer;
}

//Components styles
@import "./mainPage.scss";
@import "./userNameInputWindow.scss";

*{
  outline: none;
  box-sizing: border-box;
}