@import "./common.scss";

@mixin blockWidth {
  width: 100%;
  max-width: 65rem;
}

.todo-list {
  @include defaultBg;
  @include entireWindowPosition;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;

  h1 {
    text-align: center;
  }

  .tasks {
    @include blockWidth;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .tasks__no-tasks {
      color: rgba($darkColor, 0.8);
    }
  }

  .tasks__tasks-group {
    width: 100%;

    h2 {
      width: 100%;
      text-align: left;
    }
  }

  .todo-list__input-field {
    @include blockWidth;
    display: flex;
    width: 100%;
    font-size: 1.5rem;

    #todo-list__input {
      @include input;
      flex-grow: 1;
      padding: 0.7rem;
    }

    .todo-list__add-btn {
      @include secondBtn;
      padding: 0.5rem 1.5rem;
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }
  }
}

//Task component
.task {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba($whiteColor, 0.5);

  .task__complete-btn,
  .task__important-btn,
  .task__options {
    position: relative;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0.2rem;

    &:hover {
      background-color: rgba($iconBGColor, 0.1);

      .popup-label {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  .task__text {
    margin: 0;
    font-size: 1.1rem;
  }

  .task__tools {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;

    .task__options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;

      .task__options-circle {
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 100%;
        background-color: $darkColor;
      }
    }
  }
}

//PopupLabel component
.popup-label {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 130%;
  transform: translateX(-50%);
  width: 10rem;
  padding: 0.3rem;
  border-radius: 5px;
  color: $whiteColor;
  background-color: $darkColor;
  font-size: 1.1rem;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

//popup-options ocmponent
.popup-options {
  @include defaultBg;
  position: absolute;
  right: 1rem;
  top: 95%;
  display: flex;
  flex-direction: column;
  width: 13rem;
  border: solid rgba($darkColor, 0.5) 0.1rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 2rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    transition: 0.2s;

    &:hover:not(.popup-options__delete-btn) {
      background: rgba($darkColor, 0.2);
    }

    svg {
      width: 2rem;
      transition: 0.2s;
    }

    .popup-options__text {
      width: 100%;
      text-align: left;
    }
  }

  .popup-options__delete-btn {
    color: $darkRedColor;
    font-weight: bold;

    &:hover {
      background: rgba($lightRedColor, 0.2);

      svg {
        fill: $darkRedColor;
      }
    }
  }
}
