@import "./common.scss";

@mixin blockWidth{
  width: 100%;
  max-width: 65rem;
}

.todo-list{
  @include defaultBg;
  @include entireWindowPosition;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;

  h1{
    text-align: center;
  }

  .tasks{
    @include blockWidth;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .tasks__tasks-group{
    width: 100%;
    h2{
      width: 100%;
      text-align: left;
    }
  }

  .todo-list__input-field{
    @include blockWidth;
    display: flex;
    width: 100%;
    font-size: 1.5rem;

    #todo-list__input{
      @include input;
      flex-grow: 1;
      padding: .7rem;
    }

    .todo-list__add-btn{
      @include secondBtn;
      padding: .5rem 1.5rem;
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
}